<ion-content class="bg" [fullscreen]="true" style="width: 100%;">

  <div style="display: flex; justify-content: space-around; align-items: center; margin: 10%; margin-top: 25%;">
    <img src="../../assets/icon/main-logo.png" class="img" />
    <h1 class="t1">Financiera Independiente</h1>
  </div>

  <div class="bodylog">
    <h1 class="t2">Login</h1>
    <small class="t3">Por favor ingresa tu usuario y contraseña</small> 

    <div class="input-mail" style="display: flex; align-items: end;" (click)="actvMail()" [ngClass]="{'input-mail-click': mailFocuse === true, 'input-mail-value':mailValue === true}">
      <div style="display: flex; align-items: center;">
        <ion-icon name="mail-outline" style="font-size: 22px;"></ion-icon>
        <p [ngClass]="{'input-mail-p-click': mailFocuse === true}" style="position: absolute; padding-left: 28px; font-size: 11px;">CORREO</p>
        <input *ngIf="mailWillOpen===true" #email style="position: absolute; padding-left: 28px;" type="text" id="email" name="emial" maxlength="38" required placeholder="usuario123@dominio.com" (focus)="mailFocusIn($event)" (focusout)="mailFocusOut($event)" [(ngModel)]="user.email">
      </div>
    </div>

    <div class="input-pass" style="display: flex; align-items: end;" (click)="actvPassw()" [ngClass]="{'input-pass-click': passFocuse === true, 'input-pass-value':passValue === true}">
      <div style="display: flex; align-items: center;">
        <ion-icon name="lock-closed-outline" style="font-size: 22px;"></ion-icon>
        <p [ngClass]="{'input-pass-p-click': passFocuse === true}" style="position: absolute; padding-left: 28px; font-size: 11px;">PASSWORD</p>
        <input *ngIf="passWillOpen===true" #password style="position: absolute; padding-left: 28px;" type="text" id="password" name="password" maxlength="38" required placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" (focus)="passFocusIn($event)" (focusout)="passFocusOut($event)" [(ngModel)]="user.password">
      </div>
    </div>

  </div>

  <div class="footerlog" style="">
    <ion-button class="btn-log" size="10" expand="Ingresa" id="open-loading" (click)="submit()">LOG IN</ion-button>
    <br/>
    <br/>
    <small>¿Olvidaste tu contraseña?</small>
    <!-- <p>{{number}}</p> -->
  </div>
  
</ion-content>


