<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="--color: var(--ion-color-primary);" (click)="cancelChanges()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button style="--color: var(--ion-color-primary);" (click)="confirmChanges()">Hecho</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchbarInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <!-- <ion-list id="modal-list" [inset]="true">
    <ion-item *ngFor="let item of filteredItems; trackBy: trackItems">
      <ion-checkbox 
        [value]="item._id" 
        [checked]="isChecked(item._id)" 
        (ionChange)="checkboxChange($event)"
        >
        {{ item.nombre }}
      </ion-checkbox
      >
    </ion-item>
  </ion-list> -->

  <ion-list id="modal-list" [inset]="true">
    <ion-radio-group (ionChange)="checkboxChange($event)">
      <ion-item *ngFor="let item of filteredItems;">
        <ion-radio 
        [value]="item._id"
        >
        {{item.nombre}}
      </ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>