<ion-buttons slot="start" class="ion-padding">
  <ion-button color="medium" slot="icon-only" (click)="cancel()"><ion-icon style="font-size: 40px;" name="close-outline"></ion-icon></ion-button>
</ion-buttons>

<ion-content class="ion-padding">
  <ion-item detail="true" lines="none" id="open-modal">
    <ion-avatar slot="start">
      <ion-img *ngIf="!srcImageName(data?.evidencia_aval, 'foto-perfil')" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      <ion-img *ngIf="srcImageName(data?.evidencia_aval, 'foto-perfil') as image" [src]="image.url"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2 style="font-weight: bold;">{{data?.nombre}}</h2>
      <p>{{data?.email}}</p>
    </ion-label>
  </ion-item>

  <ion-list [inset]="true" lines="none">
    <ion-item>
      <ion-icon class="ion-icon-list" name="document-text-outline"></ion-icon>
      <p style="font-weight: bold;">Generador de Excel</p>
    </ion-item>
    <!-- <ion-item>
      <ion-icon class="ion-icon-list" name="paper-plane-outline"></ion-icon>
      <p style="font-weight: bold;">Comunicados</p>
    </ion-item> -->
    <ion-item *ngIf="data?.role=='ADMINISTRADOR'" (click)="openGuardados()">
      <ion-icon class="ion-icon-list" name="bookmark-outline"></ion-icon>
      <p style="font-weight: bold;">Guardados</p>
    </ion-item>
    <!-- <ion-item>
      <ion-icon class="ion-icon-list" name="pie-chart-outline"></ion-icon>
      <p style="font-weight: bold;">Informes y gráficas</p>
    </ion-item> -->
  </ion-list>
  <hr style="background: gray; width: 85%;">
  <ion-list [inset]="true" lines="none">
    <ion-item>
      <ion-icon class="ion-icon-list" name="settings-outline"></ion-icon>
      <p style="font-weight: bold;">Configuración</p>
    </ion-item>
    <ion-item button (click)="checkOut()">
      <ion-icon class="ion-icon-list" name="log-out-outline"></ion-icon>
      <p style="font-weight: bold;">Cerrar sesión</p>
    </ion-item>
  </ion-list>

  <ion-modal trigger="open-modal" #modal (willDismiss)="onWillDismiss()">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start" (click)="back()">
            <ion-back-button default-href="#"></ion-back-button>
          </ion-buttons>
          <ion-title></ion-title>
          <ion-progress-bar type="indeterminate" *ngIf="updating"></ion-progress-bar>
          <ion-button fill="solid" 
          slot="end" 
          shape="round" 
          color="darkmain" 
          style="margin-right: 10px;"
          *ngIf="images.length > 0 || toEdit"
          (click)="submitForm()"
          >Guardar</ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="model">
          <ion-avatar class="edit-avatar" *ngIf="getImageByName('foto-perfil') as image">
            <img alt="Silhouette of a person's head" [src]="image.data" />
            <ion-icon name="camera" (click)="openPickPicture()"></ion-icon>
          </ion-avatar>
          <ng-container *ngIf="srcImageName(data?.evidencia_aval, 'foto-perfil') as image">
            <ion-avatar class="edit-avatar" *ngIf="image && !getImageByName('foto-perfil')">
              <img alt="Silhouette of a person's head" [src]="image.url" />
              <ion-icon name="camera" (click)="openPickPicture()"></ion-icon>
            </ion-avatar>
          </ng-container>
          <!-- <ng-container *ngIf="srcImageName(data.evidencia_aval, 'foto-perfil') as image">
            <img *ngIf="image && !getImageByName('foto-perfil')"
              [src]="image.url" alt="">
          </ng-container> -->
          <ion-text><h1 style="font-weight: bold;">{{data?.nombre}}</h1></ion-text>
          <p style="margin-top: 2px;"><ion-text color="medium">{{data?.email}}</ion-text></p>
          <ion-chip style="font-weight: bold;" (click)="setEdit()" *ngIf="!toEdit">Editar <ion-icon name="brush"></ion-icon></ion-chip>
          <ion-chip style="font-weight: bold;" (click)="cancelEditInputs()" *ngIf="toEdit">Cancelar <ion-icon name="close"></ion-icon></ion-chip>
        </div>

        <ion-list>
          <ng-container *ngIf="toEdit">
            <ion-list-header>
              <ion-label style="font-weight: bold;"><ion-text color="medium">Editar</ion-text></ion-label>
            </ion-list-header>
            <form [formGroup]="formProfilePOST" #formDirective="ngForm">
              <ion-item>
                <ion-input label="Nombre" labelPlacement="stacked" placeholder="Ingresa un nombre" formControlName="nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Correo" labelPlacement="stacked" placeholder="Ingresa un correo" formControlName="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Telefono" labelPlacement="stacked" placeholder="ingresa un telefono" type="number" formControlName="telefono"></ion-input>
              </ion-item>
            </form>
          </ng-container>
          <ion-list-header>
            <ion-label style="font-weight: bold;"><ion-text color="medium">Perfil</ion-text></ion-label>
          </ion-list-header>
          <ion-item lines="none" style="margin: 4px 0px;">
            <ion-label>Media</ion-label>
            <ion-icon color="dark" name="image" slot="start"></ion-icon>
          </ion-item>
          <ion-item lines="none" style="margin: 4px 0px;" (click)="goToWallet()">
            <ion-label>Wallet</ion-label>
            <ion-icon color="dark" name="wallet" slot="start"></ion-icon>
          </ion-item>
          <ion-item lines="none" style="margin: 4px 0px;" (click)="openNotificacionesModal()">
            <ion-label>Notificaciones</ion-label>
            <ion-icon color="dark" name="notifications" slot="start"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="pickPictureModal" 
    cssClass='pick-modal'
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]" 
    (willDismiss)="closePickPicture()">
    <ng-template>
      <div class="block">
        <ion-text>
          <h2 style="text-align: center; font-weight: bold;">Cambiar foto de perfil</h2>
        </ion-text>
        <ion-item lines="none" button="true" style="margin-top: 35px;" *ngIf="images.length == 0" (click)="takePicture()">
          <ion-icon color="dark" name="camera" slot="start"></ion-icon>
          <ion-label>
            <h2 style="font-size: 18px;">Tomar foto</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none" button="true" *ngIf="images.length == 0" (click)="selectPicture()">
          <ion-icon color="dark" name="image" slot="start"></ion-icon>
          <ion-label>
            <h2 style="font-size: 18px;">Elegir desde galeria</h2>
          </ion-label>
        </ion-item>
        <ion-item lines="none" button="true" style="margin-top: 55px;" *ngIf="getImageByName('foto-perfil') as image" (click)="deletePicture(image)">
          <ion-icon color="danger" name="trash" slot="start"></ion-icon>
          <ion-label>
            <h2 style="font-size: 18px; color: red;">Quitar imagen</h2>
          </ion-label>
        </ion-item>
      </div>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="guardadosModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Guardados</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeGuardados()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-list-header>
            <ion-label style="font-weight: bold;"><ion-text color="medium">Movimientos</ion-text></ion-label>
          </ion-list-header>
          <ion-item *ngFor="let m of guardados" lines='none' class="my-item" (click)="verMovimientoGuardado(m)">
            <ion-icon *ngIf="m.tipo==='egreso'" slot="start" name="arrow-down" class="my-ion-icon"></ion-icon>
            <ion-icon *ngIf="m.tipo==='ingreso'" slot="start" name="arrow-up" class="my-ion-icon"></ion-icon>
            <ion-label *ngIf="m.id_asesor">
              <h2 style="font-weight: bold;">{{m.id_asesor?.nombre}}</h2>
              <p>Prestamo autorizado</p>
            </ion-label>
            <ion-label *ngIf="!m.id_asesor">
              <h2 style="font-weight: bold;">Tu movimiento</h2>
              <p>Movimiento interno</p>
            </ion-label>
            <ion-label slot="end">
              <h1 style="margin-right: 15px; font-size: 22px;"><span>{{m.tipo==='egreso'? '-' : m.tipo==='ingreso'? '+' : ''}}
                </span> ${{m.monto}}</h1>
            </ion-label>
          </ion-item>
          <ion-list-header>
            <ion-label style="font-weight: bold;"><ion-text color="medium">Prestamos</ion-text></ion-label>
          </ion-list-header>
          <ion-list-header>
            <ion-label style="font-weight: bold;"><ion-text color="medium">Clientes</ion-text></ion-label>
          </ion-list-header>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>