<ion-buttons slot="start" class="ion-padding">
  <ion-button color="medium" slot="icon-only" (click)="cancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
</ion-buttons>

<ion-content class="ion-padding">
  <ion-item detail="true" lines="none">
    <ion-avatar slot="start">
      <ion-img *ngIf="!srcImageName(data?.evidencia_aval, 'foto-perfil')" src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      <ion-img *ngIf="srcImageName(data?.evidencia_aval, 'foto-perfil') as image" [src]="image.url"></ion-img>
    </ion-avatar>
    <ion-label>
      <h2 style="font-weight: bold;">{{data?.nombre}}</h2>
      <p>{{data?.email}}</p>
    </ion-label>
  </ion-item>

  <ion-list [inset]="true" lines="none">
    <ion-item>
      <ion-icon class="ion-icon-list" name="document-text-outline"></ion-icon>
      <p style="font-weight: bold;">Generador de PDF</p>
    </ion-item>
    <ion-item>
      <ion-icon class="ion-icon-list" name="paper-plane-outline"></ion-icon>
      <p style="font-weight: bold;">Comunicados</p>
    </ion-item>
    <ion-item>
      <ion-icon class="ion-icon-list" name="information-circle-outline"></ion-icon>
      <p style="font-weight: bold;">Ayuda y soporte</p>
    </ion-item>
    <ion-item>
      <ion-icon class="ion-icon-list" name="pie-chart-outline"></ion-icon>
      <p style="font-weight: bold;">Informes y gráficas</p>
    </ion-item>
  </ion-list>
  <hr style="background: gray; width: 85%;">
  <ion-list [inset]="true" lines="none">
    <ion-item>
      <ion-icon class="ion-icon-list" name="settings-outline"></ion-icon>
      <p style="font-weight: bold;">Configuración</p>
    </ion-item>
    <ion-item button (click)="checkOut()">
      <ion-icon class="ion-icon-list" name="log-out-outline"></ion-icon>
      <p style="font-weight: bold;">Cerrar sesión</p>
    </ion-item>
  </ion-list>

</ion-content>