

<ion-app>
  <ion-header class="ion-no-border" *ngIf="mostrarHeader">
    <ion-toolbar>
      <ion-label>
        <ion-text color="dark"><h1>{{title}}</h1></ion-text>
      </ion-label>
      
      <ion-button class="notificaciones" size="small" fill="clear" shape="round" slot="end" color="darkmain" (click)="openNotificacionesModal()">
        <ion-icon style="font-size: 24px;" color="dark" name="notifications-outline" aria-hidden="true"></ion-icon>
        <div class="unread-indicator" *ngIf="tieneNotificacionesPendientes > 0"></div>
      </ion-button>
      
      <ion-item slot="end" lines="none">
        <ion-avatar (click)="openProfileModal()">
          <ion-img *ngIf="srcImageName(dataUser?.evidencia_aval, 'foto-perfil') as image" [src]="image.url"></ion-img>
        </ion-avatar>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main"></ion-router-outlet>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="asesores" *ngIf="dataUser?.role == 'ADMINISTRADOR'">
        <ion-icon name="woman-outline"></ion-icon>
        Asesores
      </ion-tab-button>
      <ion-tab-button tab="clientes">
        <ion-icon name="people-outline"></ion-icon>
        Clientes
      </ion-tab-button>
      <ion-tab-button tab="dashboard" *ngIf="dataUser?.role == 'ADMINISTRADOR'">
        <ion-icon name="wallet-outline"></ion-icon>
        Wallet
      </ion-tab-button>
      <ion-tab-button tab="prestamos">
        <ion-icon name="logo-bitcoin"></ion-icon>
        Prestamos
      </ion-tab-button>
     
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-label>
      <ion-text color="dark"><h1>{{title}}</h1></ion-text>
    </ion-label>
    <ion-button class="notificaciones" size="small" fill="clear" shape="round" slot="end" color="darkmain" (click)="openNotificacionesModal()">
      <ion-icon style="font-size: 24px;" color="dark" name="notifications-outline" aria-hidden="true"></ion-icon>
      <div class="unread-indicator" *ngIf="tieneNotificacionesPendientes > 0"></div>
    </ion-button>
    <ion-item slot="end" lines="none">
      <ion-avatar (click)="openProfileModal()">
        <ion-img *ngIf="srcImageName(dataUser.evidencia_aval, 'foto-perfil') as image" [src]="image.url"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" [routerLink]="['/home/dashboard']">
      <ion-icon name="wallet-outline"></ion-icon>
      Wallet
    </ion-tab-button>
    <ion-tab-button tab="clientes" [routerLink]="['/home/clientes']">
      <ion-icon name="people-outline"></ion-icon>
      Clientes
    </ion-tab-button>
    <ion-tab-button tab="asesores" [routerLink]="['/home/asesores']">
      <ion-icon name="woman-outline"></ion-icon>
      Asesores
    </ion-tab-button>
    <ion-tab-button tab="prestamos" [routerLink]="['/home/prestamos']">
      <ion-icon name="logo-bitcoin"></ion-icon>
      Prestamos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->